* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
  background-color: black;
  height: 100px;
}
.header {
  height: 100px;
  display: flex;
  max-width: 1140px;
  margin: auto;
  align-items: center;
}
.logo {
  width: 100px;
}
.logoimg {
  width: 80px;
  height: 80px;
  background-color: #aa7c4b;
}
.menu {
  display: flex;
  flex: 1;
  justify-content: end;
  height: 100px;
}
.menu li a {
  padding-left: 6px;
  padding-right: 6px;
  text-transform: uppercase;
  font-family: Montserrat;
  font-weight: 500;
  font-size: 14px;
  color: white;
  text-decoration: none;
  list-style-type: none;
  border-bottom: 5px solid #000000;
  display: flex;

  height: 100px;
  align-items: center;
}
ul li a:hover {
  border-bottom: 5px solid #aa7c4b;
}
ul {
  display: flex;
  flex-direction: row;
}
