* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", serif;
}
body {
  overflow-x: hidden;
}
header {
  background-color: black;
  height: 100px;
}
.header {
  height: 100px;
  display: flex;
  max-width: 1140px;
  margin: auto;
  align-items: center;
}
.logo {
  width: 100px;
}
.logoimg {
  width: 80px;
  height: 80px;

  border: 40px solid;
  border-color: transparent #aa7c4b transparent #aa7c4b;
}
.menu {
  display: flex;
  flex: 1;
  justify-content: end;
  height: 100px;
}
.menu li a {
  padding-left: 6px;
  padding-right: 6px;
  text-transform: uppercase;
  font-family: Montserrat;
  font-weight: 500;
  font-size: 14px;
  color: white;
  text-decoration: none;
  list-style-type: none;
  border-bottom: 5px solid #000000;
  display: flex;

  height: 100px;
  align-items: center;
}
ul li a:hover {
  border-bottom: 5px solid #aa7c4b;
}
ul li .active {
  border-bottom: 5px solid #aa7c4b;
}
ul {
  display: flex;
  flex-direction: row;
}
.banner {
  background: url("../complementos/bg.jpg");
  height: calc(100vh - 100px);
  background-size: cover;
  background-position: bottom;
}
.banner .slider {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: white;
  justify-content: center;
  width: 100vw;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
}
h1,
h2 {
  text-transform: uppercase;
  font-weight: 800;
  display: flex;
  flex-direction: column;
}
h1 {
  font-size: 50px;
}
h2 {
  padding-top: 10px;
  font-size: 20px;
}
.button {
  display: inline-block;
  text-transform: uppercase;
  text-decoration: none;
  font-weight: 600;
  font-size: 12px;
  margin-top: 25px;
  padding: 15px;
  padding-left: 40px;
  padding-right: 40px;
  border-radius: 100px;
  color: white;
  background-color: #aa7c4b;
}
.active {
  background-color: #aa7c4b;
}

.slider h1 span {
  color: #aa7c4b;
}
.banner .sliders {
  display: flex;
  width: 1000vh;
  height: 100%;
  overflow: hidden;
}
.slider {
  display: flex;
  align-items: center;
  justify-content: center;
  display: inline-block;
  height: 100%;
  width: 100vw;
}
.slider-pointers {
  position: absolute;
  width: 100vw;
  height: 28px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: -50px;
}
.pointers {
  margin-left: 5px;
  margin-right: 5px;
  border-radius: 50px;
  width: 15px;
  height: 15px;
  border: 2px solid #aa7c4b;
}
.default {
  padding-bottom: 50px;
}
.default .section-desc,
.section-title {
  display: flex;
  justify-content: center;
}

.default .section-body {
  margin: auto;
  max-width: 1140px;
}
.section-title,
.section-desc {
  font-weight: bold;
  text-transform: uppercase;
}

.section-title {
  font-weight: 700;
  font-size: 30px;
  padding-top: 40px;
}
.section-desc {
  padding-top: 10px;
  padding-bottom: 30px;
  font-size: 10px;
  font-weight: 800;
  color: #ccc;
}
.default.dark {
  background-color: #000000;
  color: white;
}

.default.light .section-desc {
  color: #ccc;
}

/*
estilos de cada sessão
*/
.section-aboutus {
  display: flex;
  overflow: hidden;
}
.section-aboutus-left {
  flex: 1;
}
.section-aboutus-left {
  font-size: 14px;
  line-height: 25px;
  padding-right: 10px;
}
.section-aboutus-right {
  width: 400px;
}
.section-aboutus-right a img {
  width: 100%;
  box-shadow: 0px 5px 10px #333;
}
.section-services {
  display: flex;
  overflow: hidden;
}
.section-service {
  flex: 1;
  text-align: center;
  border-right: 2px solid #333;
}
.section-service:first-child {
  border-left: 2px solid #333;
}
.section-service h4 {
  line-height: 20px;
}
.section-service p {
  font-size: 13px;
  color: #333;
  line-height: 20px;
}
.section-service img {
  padding: 20px;
}

.section-projects {
  display: flex;
  flex-direction: column;
  overflow: hidden;
  align-items: center;
  justify-content: center;
}
.section-projets--filters {
  background-color: #ededed;
  display: inline-block;
  border-radius: 30px;
  border: 2px solid #ccc;
  padding: 0px 20px;
}
.section-projets--filters ul li:hover {
  border-bottom: 4px solid #c88c54;
}

.section-projets--filters ul li {
  border-right: 2px solid #ccc;
  border-bottom: 4px solid #ededed;

  text-decoration: none;
  list-style-type: none;
  padding: 16px 20px;
  padding-top: 20px;
  text-transform: uppercase;
}
.section-projets--filters ul li:last-child {
  border-right: 0px solid #ccc;
}
.section-projects--photos {
  display: flex;
  width: 100vh;
  max-width: 1140px;
  flex-wrap: wrap;
  justify-content: center;
  padding-top: 30px;
}
.section-projects--photo {
  width: 280px;
}
.photo-container {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 260px;
  height: 165px;
  margin: 10px;
  color: white;
}
.photoinfo {
  display: none;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-weight: 600;
  position: absolute;
  width: inherit;
  height: inherit;
  background-color: rgba(0, 0, 0, 0.5);
}
.photoinfo h5 {
  font-size: 18px;
}
.photo-container img {
  width: inherit;
  height: inherit;
}
.photo-container:hover .photoinfo {
  display: flex;
}
.bg-team {
  background-image: url("/assets/complementos/bg.jpg");
  background-size: cover;
  background-position: center;
  padding: 0;
}
.section-team {
  overflow: hidden;
}
.section-team-area {
  background-color: rgba(0, 0, 0, 0.8);
  width: inherit;
  overflow: hidden;
  padding-top: 50px;
  padding-bottom: 50px;
}

.section-team .sliders {
  display: flex;
  width: 1140px;
  height: 100%;
  justify-content: center;
}
.section-team .slider {
  background-color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 380px;
  margin: 15px;
  width: 280px;
  border-radius: 5px;
  justify-content: space-around;
  padding-top: 25px;
  align-items: center;
  flex-direction: column;
  color: #000000;
}

.worker-role h5 {
  text-transform: uppercase;
  font-size: 20px;
  font-weight: 500;
}
.worker-role p {
  font-size: 13px;
}
.worker-role {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

.worker-social {
  display: flex;
}
.worker-social .icon-area {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #c0c0c0;
  margin: 6px;
  border-radius: 50px;
  width: 33px;
  height: 33px;
}
.worker-social .icon-area img {
  background-color: #c0c0c0;
  width: 13px;
  height: 13px;
}

.worker-social .icon-area:hover,
.worker-social .icon-area:hover img {
  background-color: #c88c54;
}
.section-team-area .slider-pointers {
  display: flex;
  width: 100vw;
  height: 28px;
  padding-top: 70px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.section-team-area .pointers {
  margin-left: 5px;
  margin-right: 5px;
  border-radius: 50px;
  width: 15px;
  height: 15px;
  border: 2px solid #aa7c4b;
}
.section-clients-area {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  padding-bottom: 50px;
  height: inherit;
}
.client-img {
  display: flex;
  justify-content: center;
}
.client-role {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 30px;
}
.client-role h5 {
  text-transform: uppercase;
  font-size: 22px;
  font-weight: 600;
  padding-bottom: 15px;
}

.client-declaration {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.client-declaration p {
  text-align: center;
  padding: 25px;
  color: #acacac;
}
.section-clients-area .slider-pointers {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: auto;
  left: 0;
  padding: 40px;
}

.bg-grey {
  background-color: #f7f7f7;
  border: 0.5px solid #cfcfcf;
}
.banner-clients {
  max-width: 1140px;
  margin: auto;
  display: flex;
  justify-content: space-between;
}
.banner-clients img {
  margin: 50px;
}
.section-products {
  max-width: 1140px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.product {
  background-color: #fff;
  width: 250px;
  height: 350px;
  margin: 15px;
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
}
.product-name {
  text-transform: uppercase;
  font-weight: 500;
  font-size: 12px;
  padding-top: 20px;
  padding-bottom: 10px;
}
.product-price {
  font-size: 24px;
  font-weight: 600;
}
.product-period {
  font-size: 10px;
  text-transform: uppercase;
  color: #7f7f7f;
  padding-bottom: 15px;
}
.product-results {
  font-size: 11px;
  color: #363636;
}
.product a {
  padding: 12px 30px;
  font-size: 12px;
  font-weight: 600;
  background-color: #373737;
}
.product a:hover {
  background-color: #aa7c4b;
}

.section-features {
  display: flex;
  max-width: 1140px;
  justify-content: space-evenly;
  padding-bottom: 30px;
  border-bottom: 1px solid #ccc;
}

.section-features-left {
  display: flex;
  justify-content: center;
  flex: 1;
}
.section-features-right {
  display: flex;
  flex: 1;
  flex-direction: column;
}
.feature-name {
  display: flex;
  flex-direction: row;
  font-weight: 600;
  font-size: 18px;
  text-transform: uppercase;
  padding-top: 30px;
}
.feature-name h4 {
  padding-left: 30px;
}
.feature-name::before {
  content: url(/assets/icones/check.png);
  display: flex;
  flex-direction: row;
}
.upper {
  text-transform: uppercase;
}
.feature-content {
  color: #d8d8d8;
  font-size: 14px;
  padding-left: 65px;
  flex-wrap: wrap;
}
.section-features-area {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.section-features-button {
  height: 180px;

  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.section-features-button .slider-pointers {
  padding-bottom: 30px;
}

.section-features-button .button {
  margin-top: 50px;
}
.section-facts {
  display: flex;
}
.section-fact {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}
.section-fact h2 {
  color: #aa7c4b;
  font-size: 38px;
}
.section-fact .underline {
  width: 15px;
  height: 3px;
  background-color: #7f7f7f;
  margin-bottom: 5px;
}
.section-fact h4 {
  text-transform: uppercase;
  flex-wrap: wrap;
  max-width: 160px;
  min-height: 50px;
}
.section-fact:nth-child(3) h4 {
  max-width: 140px;
}
.banner-social {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80px;
  border-bottom: 1px solid #ccc;
}
.share {
  display: flex;
  align-items: center;
}
.share h5 {
  text-transform: uppercase;
  color: #aeaeae;
  padding-left: 10px;
  padding-right: 50px;
}

.social-icon {
  width: 30px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50px;
}
.social-icon-area {
  display: flex;
  align-items: center;
}
.social-icon-area p {
  font-weight: 800;
  font-size: 10px;
  padding-left: 5px;
  padding-right: 30px;
  color: #aeaeae;
}

.twitter {
  background-color: #32c6ee;
}
.linkedin {
  background-color: #127db5;
}
.facebook {
  background-color: #336296;
}
.googleplus {
  background-color: #e64237;
}
.pinterest {
  background-color: #b71c29;
}

.section-forn {
  max-width: 900px;
}
.contact-form {
  display: flex;
  flex-direction: column;
}
.input-button {
  display: flex;
  flex-direction: column;
}

.input-button input:nth-child(2) {
  margin-top: 40px;
}
input {
  border: hidden;
  border-bottom: 2px solid #aeaeae;
  background-color: #f7f7f7;
  padding-bottom: 10px;
  margin-right: 20px;
  margin-bottom: 30px;
}
input::placeholder {
  text-transform: uppercase;
  color: #aeaeae;
  font-weight: 500;
}
.contact-form {
  border: hidden;
}
.contact-button {
  display: flex;
  justify-content: center;
}
/*
    <div class="section-body">
          <div class="section-form">
            <form action="" >

              <fieldset class="contact-form">
                <div class="input-top">
                <input type="text" name="name" placeholder="name">
                <input type="text" name="email" placeholder="email">
                </div>
                <div class="input-button">
                <input type="text" name="subject" placeholder="subject">
                <input type="text" name="message" placeholder="message">
                </div>
              </fieldset>

            </form>

          </div>
          <div class="button" in> Send message</div>

*/
